---
name: CI
"on":
  pull_request:
  push:
    branches:
      - main

defaults:
  run:
    working-directory: 'willbrid.basic_apache_container'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro:
          - rockylinux9
          - ubuntu2404
          - ubuntu2204
          - debian12
          - debian11

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: 'willbrid.basic_apache_container'

      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: '3.13' # temporarily set the Python version to 3.13.x

      - name: Install test dependencies
        run: pip3 install yamllint ansible-lint ansible-core==2.19 molecule molecule-plugins[docker] docker

      - name: Lint code
        run: |
          yamllint .
          ansible-lint

      - name: Run Molecule tests
        run: molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
